# https://local.wp-boilerplate.com
DOCKER_PATH=.
PROJECT_PATH=..
COMPOSE_PROJECT_NAME=wp-boilerplate
USER_ID=1000
GROUP_ID=1000
RESTART=unless-stopped

# Nginx
DOMAIN=local.wp-boilerplate.com
WEB_DIR='/wordpress'

# Options: mariadb | mysql
DB_IMAGE=mysql
DB_VERSION=8.0.36
DB_IP=127.0.0.1
DB_PORT=3306
DB_ROOT_PASSWORD='*****'
DB_DATABASE=wordpress
DB_USER=wp_user
DB_PASSWORD='*****'
DB_CHARSET=utf8mb4
DB_COLLATE=utf8mb4_unicode_ci

# Check compatibility WP-PHP: https://make.wordpress.org/core/handbook/references/php-compatibility-and-wordpress-versions/
# Internally it uses fpm-alpine version
# https://hub.docker.com/_/php
PHP_VERSION=8.3

# http://local.wp-boilerplate.com:8181/
PHPMYADMIN_PORT=8181
